#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    background: #333;
}

input {
    width: 100%;
}

h4 {
    margin: 0;
}

.common-component {
    background: #fff;
    border: solid thin #dadada;
    border-radius: 4px;
    padding: 24px 64px;
    margin-bottom: 8px;
}

.reverted-color {
    background-color: red;
    color: #fff;
}